{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
    <!-- Next tag loads Charts.js https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/wordcloud@2.51.3/build/wordcloud2.min.js"></script>-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}

{% block content %}


    <script>
        // 'visited_docs' is the data coming from Python code.
        // load the python list in the JS variable 'visits_list':
        const visits_list = {{ visited_docs | tojson | safe }};
        console.log("visited docs: ")
        console.log(visits_list)
    </script>

    <h5>Ranking of Top 10 Visited Documents</h5>
    <canvas id="dailyVisits" width="400" height="400"></canvas>


    <script>
        // use JS map function top get just the tweet ids as labels
        const visitsLabels = visits_list.map(a => "id: " + a.doc_id);
        const visitsData = visits_list.map(a => a.counter);
        const chartData1 = {
            labels: visitsLabels,
            datasets: [{
                label: 'Visits count',
                // data: [65, 59, 80, 81, 56, 55, 40],
                data: visitsData,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const ctx = document.getElementById('dailyVisits').getContext('2d');

        // This will render the chart
        const myChart = new Chart(ctx, {
            type: 'line',
            data: chartData1,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>

    <script>
        const searchedQueriesData = {{ searched_queries | tojson | safe }};
        console.log("Searched Queries data: ");
        console.log(searchedQueriesData);
    </script>

    <hr>
    <h5>Print Python data for verification with graph above...</h5>
    {% for doc in visited_docs %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> ({{ doc.counter }} visits) </span> — id: {{ doc.doc_id }}
                — {{ doc.description }}
            </div>
        </div>
        <hr>

    {% endfor %}


    <script>
        // 'visited_queries' is the data coming from Python code.
        const visits_list_query = {{ visited_queries | tojson | safe }};
        console.log("visited queries: ")
        console.log(visits_list)
    </script>

    <h5>Ranking of top 10 Searched Queries</h5>
    <canvas id="dailyVisitsQuery" width="400" height="400"></canvas>


    <script>
        // use JS map function top get just the tweet ids as labels
        const visitsLabels_query = visits_list_query.map(a => a.query);
        const visitsData_query = visits_list_query.map(a => a.counter);
        const chartData2 = {
            labels: visitsLabels_query,
            datasets: [{
                label: 'Visits count',
                // data: [65, 59, 80, 81, 56, 55, 40],
                data: visitsData_query,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        const ctx2 = document.getElementById('dailyVisitsQuery').getContext('2d');

        // This will render the chart
        const myChart2 = new Chart(ctx2, {
            type: 'line',
            data: chartData2,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>


    <h4>Pie Chart: Ranking Algorithm</h4>

    <script>
        const type_list = {{ search_type | safe }};
    </script>


    <div id="piechart" class= "piechart-container" ></div>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
        console.log(type_list)
        var data = google.visualization.arrayToDataTable(type_list);
        
        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Ranking Algorithm stats', 'width':650, 'height':500};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
        }
    </script>
   
    <h5>Bar Plot of Top 15 Searched Terms used in Queries</h5>
    <canvas id="searchedQueriesChart" width="400" height="400"></canvas>

    <script>
        // Extract labels and data from the searchedQueriesData
        const searchedQueriesLabels = Object.keys(searchedQueriesData);
        const searchedQueriesDataValues = Object.values(searchedQueriesData);
    
        const chartData = {
            labels: searchedQueriesLabels,
            datasets: [{
                label: 'Search Count',
                data: searchedQueriesDataValues,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };
    
        const ctx3 = document.getElementById('searchedQueriesChart').getContext('2d');
    
        // Create the bar plot
        const myChart3 = new Chart(ctx3, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <script>
        const browserData = {{ browser_data | tojson | safe }};
        console.log("Browser Data: ");
        console.log(browserData);
    </script>

    <h5>Pie Chart of Browser Usage</h5>
    <div id="browserChart" style="width: 400px; height: 400px;"></div>

    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawBrowserChart);

        function drawBrowserChart() {
            const data = new google.visualization.DataTable();
            data.addColumn('string', 'Browser');
            data.addColumn('number', 'Usage');

            // Convert browserData object to array
            const browserArray = Object.entries(browserData);

            data.addRows(browserArray);

            const options = {
            title: 'Browser Usage (per query)',
            width: 700,
            height: 700,
            pieSliceText: 'percentage', // Display percentage on the pie chart
        };

            const chart = new google.visualization.PieChart(document.getElementById('browserChart'));
            chart.draw(data, options);
        }
    </script>





{% endblock %}


