<script>

    // Variable to store the start time
    let startTime;

    function startTimer() {
        startTime = new Date();
    }

    function stopTimer() {
        if (startTime) {
            // Calculate the elapsed time
            const endTime = new Date();
            const elapsedTime = (endTime - startTime) / 1000; // in seconds

            // Display the elapsed time (you can modify this part based on your needs)
            alert(`Time Elapsed: ${elapsedTime} seconds`);

            // Redirect to the /search route
            window.location.href = "/search";
        }
    }
    
    function goBack() {
        // Redirect to the /search route
        window.location.href = "/search";
    }
</script>

{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="tweet-container">
        <div class="tweet-go-back">
            <a href="javascript:void(0);" onclick="goBack();" class="go-back-button">Go Back</a>
        </div>
        <div class="tweet-header">
            <h2 class="tweet-title">{{ tweet.title }}</h2>
            <p class="tweet-date small">{{ tweet.doc_date }}</p>
            <div class="tweet-description">
                {{ tweet.description }}
            </div>
            <br>
            <p class="tweet-likes small"><span class="heart-icon">&#x2665;</span> Likes: {{ tweet.likes }}</p>
            <p class="tweet-retweets small"><span class="retweet-icon">&#10227;</span> Retweets: {{ tweet.retweets }}</p>
            <div class="tweet-hashtags small">Hashtags: <br>
                {% for hashtag in tweet.hashtags %}
                    #{{ hashtag }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
            <p class="tweet-url small">URL: <a href="{{ tweet.url }}" target="_blank">{{ tweet.url|default('No URL found') }}</a></p>
        </div>
    </div>
{% endblock %}


