{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="tweet-container">
        <div class="tweet-go-back">
            <a href="#" onclick="history.back()">Go Back</a>
        </div>
        <div class="tweet-header">
            <h2 class="tweet-title">{{ tweet.title }}</h2>
            <p class="tweet-date">{{ tweet.doc_date }}</p>
        </div>
        <div class="tweet-description">
            {{ tweet.description }}
        </div>
    </div>
{% endblock %}


