<!DOCTYPE html>
<html lang="en">

    <button class="userInfoButton" id="toggleUserInfo">Toggle User Info</button>

    <div class="userInfoBar" id="userInfoBar">
        <h2>User Information</h2>
        <ul>
            <li><strong>Platform:</strong> {{ session.platform.name }} ({{ session.platform.version }})</li>
            <li><strong>OS:</strong> {{ session.os.name }}</li>
            <li><strong>Browser:</strong> {{ session.browser.name }} ({{ session.browser.version }})</li>
        </ul>
    </div>

    <script>
        document.getElementById('toggleUserInfo').addEventListener('click', function () {
            var userInfoBar = document.getElementById('userInfoBar');
            userInfoBar.classList.toggle('visible');
        });
    </script>




{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}


<div class="centered">
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <form class="d-flex" method="POST" onSubmit='return validate();' action="/search">
        <input class="form-control me-2" name="search-query" type="search" placeholder="Search" aria-label="Search"
                autofocus="autofocus">
    
        <!-- Dropdown selector for search engine type -->
        <select class="form-select" name="search-type">
            <option value="tf_idf">Tf-Idf</option>
            <option value="our_score">Our Score</option>
        </select>
    
        <button class="btn btn-primary" type="submit" onclick='this.form.submit();'>Search</button>
        <input name="upf-irwa-hidden" type="hidden" value="123">
    </form>
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>

{% endblock %}
</html>
